<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save New Instructor</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Pragra</title>
    <style>
    </style>
</head>
<body>
<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
        <span class="font-semibold text-xl tracking-tight">Pragra</span>
    </div>
    <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
            <a th:href="@{/programs}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                Home
            </a>
            <a th:href="@{/programs/list}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                Programs
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                Second-Career
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                Our Services
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                About us
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                Contact us
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <h3>Instructor Directory</h3>
    <hr>
    <p class="h4 mb-4">New Instructor</p>

    <form action="#" th:action="@{/programs/saveinstructor}"
          th:object="${instructor}" method="POST">
        <!-- HIDDEN FORM FIELD REQUIRED FOR UPDATES, BINDING TO THE MODEL ATTRIBUTE & TELLS THE APP WHICH EMPLOYEE TO UPDATE -->
        <!--
                <input type="hidden" th:field="*{id}"
                       class="form-control mb-4 col-4" placeholder="ID">
        -->

        <!--
                <div th:switch="${id}">
                    <p th:case=0> ID assigned automatically</p>
                    <input th:case="*" type="text" th:field="*{id}" readonly="readonly"
                           class="form-control mb-4 col-4" placeholder="ID">
                </div>
        -->
        <input type="text" th:field="*{id}"
               class="form-control mb-4 col-4" placeholder="ID">

        <input type="text" th:field="*{firstName}"
               class="form-control mb-4 col-4" placeholder="First Name">

        <input type="text" th:field="*{lastName}"
               class="form-control mb-4 col-4" placeholder="Last Name">

        <input type="text" th:field="*{programs}"
               class="form-control mb-4 col-4" placeholder="Programs">
        <!--  <button type="submit" class="btn btn-info col-2">Update</button>	-->

        <div th:switch="${id}">
            <button th:case="0" type="submit" class="btn btn-info col-2">Save</button>
            <button th:case="*" type="submit" class="btn btn-info col-2">Update</button>
        </div>
    </form>

    <hr>
    <a th:href="@{/programs/list}">Back to Instructors list</a>

</div>
</body>
</html>